<div class="wrapper-container fixed top-0 left-0 w-full z-10 flex justify-center font-semibold">
    <div class="inner-container md:h-[5.625rem] h-[2.8125rem] md:text-sm text-[0.625rem] w-full">
        <div class="flex justify-between">
            <img [src]="'../assets/images/logo_black.svg'"
                class="md:h-[3.125rem] md:w-[3.125rem] h-[1.5625rem] w-[1.5625rem]">
        </div>
        <div class="flex justify-between max-w-[11.125rem] items-center w-full">
            <mat-form-field [ngClass]="'light-select'">
                <mat-select placeholder="Выбрать группу" [value]="(selectedGroup$ | async)" (selectionChange)="onGroupChange($event.value)">
                    @for (group of (groups$ | async); track group.id) {
                    <mat-option [value]="group.id">{{ group.name }}</mat-option>
                    }
                </mat-select>
            </mat-form-field>
        </div>
        <div class="calendar-switcher">
            <button class="calendar-switcher__button" (click)="datePicker.open()">
                <img [src]="(isLightWeek$ | async) ? '../assets/images/calendar_switcher_icon_black.svg' : '../assets/images/calendar_switcher_icon_white.svg'">
            </button>
            <input [matDatepicker]="datePicker" matDatepickerInput (dateChange)="onDateSelected($event)" hidden>
            <mat-datepicker #datePicker></mat-datepicker>
        </div>
    </div>
</div>