<div class="md:flex justify-center items-center bg-black text-f-gray font-semibold text-sm md:h-[3.75rem] h-3rem hidden">
    <div class="inner-container w-full">
        <div>
            <span class="cruinn text-white font-medium text-xl">
                Schedule
            </span>
            <span>
                v1.0
            </span>
        </div>
        <div class="flex">
            Created by&nbsp;
            <span class="text-white">Karazanov Pavel & Golubev Artem &nbsp; </span>
            <img src="../../assets/images/footer_line.svg"> &nbsp;
            2024
        </div>
    </div>
</div>