<div class="md:flex justify-center items-center bg-black text-f-gray font-semibold text-sm md:h-[3.75rem] h-3rem hidden">
    <div class="inner-container w-full">
        <div>
            <span class="cruinn text-white font-medium text-xl">
                Schedule
            </span>
            <span>
                v1.0
            </span>
        </div>
        <div class="authored">
            <div class="authored__text">
                <span>Created by&nbsp;</span>
                <span class="text-white">Karazanov Pavel & Golubev Artem</span>
            </div>
            <div class="authored__icons">
                <a href="https://vk.com/karazanov.pavel">
                    <img [src]="'../assets/images/vk.svg'">
                </a>
                <a href="https://t.me/karazanovpavel">
                    <img [src]="'../assets/images/tg.svg'">
                </a>
            </div>
        </div>
    </div>
</div>