<div class="header">
    <div class="font-semibold flex items-center gap-[15px]">
        {{ (getDate(this.data.date) | date: 'EEEE') | titlecase }}
        <img src="../../../../assets/images/edit-icon.svg" alt="">
    </div>
    <div class="font-semibold opacity-50">
        {{ getDate(this.data.date) | date: 'd MMMM' }}
    </div>
</div>
<div class="main">
    <div class="subject">
        <mat-form-field>
            <mat-select placeholder="Время">
                @for (time of times; track time) {
                    <mat-option [value]="time">{{time.name}}</mat-option>
                }
            </mat-select>
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Название предмета" value="">
        </mat-form-field>
        <div class="subject__footer">
            <mat-form-field class="audience">
                <input matInput placeholder="№ ауд." value="">
            </mat-form-field>
            <mat-form-field class="type">
                <mat-select placeholder="Тип" [(ngModel)]="selectedType">
                    @for (type of types; track type) {
                        <mat-option [value]="type">{{type.name}}</mat-option>
                    }
                </mat-select>
            </mat-form-field>
            <mat-form-field>
                <input matInput placeholder="Преподаватель" value="">
            </mat-form-field>
        </div>
    </div>
    <div class="add-subject">
        <mat-divider></mat-divider>
        <div class="add-subject__button">
            <img src="../../../assets/images/plus.svg" alt="">
        </div>
        <mat-divider></mat-divider>
    </div>
    <div class="buttons-container">
        <div class="save-text">
            <mat-divider></mat-divider>
            <span>Сохранить изменения</span>
            <mat-divider></mat-divider>
        </div>
        <div class="flex justify-between items-center flex-1">
            <button class="save-button" (click)="onSave()">
                Только для этого дня
            </button>
            <button class="save-button" (click)="onSave()">
                Для всех дней
            </button>
            <button class="clear-button">
                <img src="../../../assets/images/delete.svg" alt="">
            </button>
        </div>
    </div>
</div>