<div class="card" [attr.data-subjects]="day().subjects.length">
    <div class="card__header">
        <div class="font-semibold">
            {{ day().name }}
        </div>
        <div class="font-semibold opacity-50">
            {{ day().date }}
        </div>
    </div>
    @for (subject of day().subjects; track subject.id; let dayIndex = $index) {
    <div class="card__main">
        <div>
            <div class="time">
                {{ subject.time }}
            </div>
            <div class="name">
                {{ subject.name }}
            </div>
            <div class="details">
                <div class="font-medium">
                    {{ subject.room }}
                </div>
                <div class="subject-divider"></div>
                <div>
                    {{ subject.type }}
                </div>
                <div class="subject-divider"></div>
                <div>
                    {{ subject.teacher }}
                </div>
            </div>
        </div>
        @if ($index < day().subjects.length - 1) {
            <mat-divider class="divider"></mat-divider>
        }
    </div>
    }
</div>