@import '../schedule.component.scss';

.inner-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
    width: 100%;

    @media (max-width: 768px) {
        grid-template-columns: 1fr;
    }
}