$white-color: #FFFFFF;
$gray-color: #F9F9FA;
$light-gray-color: #F7F7F7;
$s-gray-color: #DADADA;
$select-gray-color: #D9D9D9;
$f-gray-color: #989898;
$black-color: #303030;
$dark-black-color: #282828;
$red-color: #FF0000;
$c-gray-color: #4C4C4C;
$f-black-color: #1C1C1C;