.inner-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 18.75rem;
    width: 100%;
    margin-left: 1.875rem;
    margin-right: 1.875rem;

    @media (min-width: 768px) {
        max-width: 72.5rem;
    }
}