@font-face {
    font-family: 'Cruinn';
    src: url('../fonts/Cruinn-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

.cruinn {
    font-family: "Cruinn", sans-serif;
}